@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@700&display=swap");

/* DECLARACION VARIABLES */
:root {
  /* COLORES PRIMARIOS */
  --rosa: hsl(322, 100%, 66%);
  --rosa-claro: hsl(321, 100%, 78%);
  --rojo-claro: hsl(0, 100%, 63%);
  /* COLORES NEUTRALES */
  --cian-oscuro: hsl(192, 100%, 9%);
  --azul-palido: hsl(207, 100%, 98%);
  /* TIPOGRAFIAS */
  --fuente-encabezados: "Poppins", sans-serif;
  --fuente-body: "Open Sans", sans-serif;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
html {
  background-color: rgb(255, 255, 255);
  font-family: var(--fuente-body);
  font-size: 14px;
  line-height: 1.6rem;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1.5rem;
}

header img {
  max-width: 30%;
}

header a {
  padding: 0.3rem 1.2rem;
  border: 1px solid var(--rosa);
  border-radius: 50px;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--rosa);
  transition: all 0.8s;
}

header a:hover {
  border: 1px solid var(--rosa-claro);
  color: var(--rosa-claro);
  box-shadow: 0 0 0.2rem var(--rosa-claro);
}

/* BODY */
/* SECCION INFORMACION */
section.seccion-informacion {
  width: 80%;
  margin: 6rem auto 1rem;
  text-align: center;
  color: var(--cian-oscuro);
}

section.seccion-informacion h1 {
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 2.7rem;
}

section.seccion-informacion p {
  margin: 2rem 0 3rem;
}

a.seccion-informacion-boton {
  display: block;
  width: max-content;
  margin: 0 auto 7rem;
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: var(--rosa);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.8s;
}

a.seccion-informacion-boton:hover {
  background-color: var(--rosa-claro);
}

section.seccion-informacion a.seccion-informacion-boton + img {
  width: 100%;
}

div.contenido-informacion {
  width: max-content;
  margin: 7rem auto 0;
}

div.contenido-informacion img {
  display: block;
  width: 2rem;
  margin-left: 0.7rem;
  text-align: left;
}

div.contenido-informacion p.cantidad {
  margin: 1.9rem 0 2.3rem;
  font-size: 4.2rem;
  font-weight: 700;
}

div.contenido-informacion p.subtitulo {
  margin: 0.6rem auto 0;
  font-weight: 600;
  opacity: 45%;
}

/* SECCIONES */
img.separador-seccion,
img.separador-footer {
  display: block;
  width: 100%;
}

img.ancho-pc {
  display: none;
}

div.contenedor-seccion {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  background-color: var(--azul-palido);
  color: var(--cian-oscuro);
}

div.seccion-fondo-blanco {
  flex-direction: column;
  margin: 5rem 0 5rem;
  background-color: white;
}

div.contenedor-seccion img {
  width: 70%;
  margin: 3rem 0 7rem;
}

div.contenido-seccion {
  width: 85%;
}

div.contenido-seccion h2 {
  font-family: var(--fuente-encabezados);
  font-size: 1.5rem;
  font-weight: 700;
}

div.contenido-seccion p {
  margin: 1.6rem 0 5rem;
}

/* SECCION BOTON */
section.seccion-boton {
  margin-bottom: 15rem;
}

section.seccion-boton h3 {
  width: 70%;
  margin: 7rem auto 3rem;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  line-height: 2.7rem;
}

/* FOOTER */
div.contenedor-footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 9%;
  background-color: var(--cian-oscuro);
  color: white;
}

p.info {
  margin: 1.6rem 0 3rem;
}

div.footer-subscripcion h3 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form div {
  width: 100%;
}

form input {
  width: 100%;
  height: 3.2rem;
  margin-bottom: 24.39px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  outline: 0;
}

form input:invalid {
  margin-bottom: 0;
  border: 1px solid var(--rojo-claro);
}

form div p {
  display: none;
  font-size: 0.7rem;
  color: var(--rojo-claro);
}

form input:invalid + p {
  display: initial;
}

.submit {
  height: 3.2rem;
  padding: 0 2.5rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--rosa);
  color: white;
  transition: all 0.8s;
}

.submit:hover {
  background-color: var(--rosa-claro);
  cursor: pointer;
}

div.footer-contacto {
  margin-top: 8rem;
}

div.footer-contacto-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

div.footer-contacto-item p {
  margin-left: 1.2rem;
  font-size: 0.9rem;
}

div.contenedor-redes-sociales ion-icon {
  margin: 2rem 0.8rem 0 0;
  font-size: 1.8rem;
  color: white;
  transition: all 0.8s;
}

div.contenedor-redes-sociales ion-icon:hover {
  color: cyan;
}

/* MEDIAS QUERIES*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  header img {
    max-width: initial;
  }

  header a {
    padding: 0.5rem 2rem;
    border: 2px solid var(--rosa);
    font-size: 1.2rem;
    font-weight: 600;
  }

  header a:hover {
    border: 2px solid var(--rosa-claro);
  }

  section.seccion-informacion h1 {
    max-width: 80%;
    margin: auto;
    font-size: 3rem;
    line-height: 4rem;
  }

  section.seccion-informacion p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  a.seccion-informacion-boton {
    padding: 1.5rem 6rem;
    font-size: 1.2rem;
  }

  div.contenido-informacion img {
    width: initial;
  }

  div.contenido-informacion p.cantidad {
    margin: 3rem 0 4rem;
    font-size: 6.7rem;
  }

  div.contenido-informacion p.subtitulo {
    font-size: 1.6rem;
  }

  div.contenido-seccion h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  section.seccion-boton p {
    font-size: 2.6rem;
  }

  div.contenedor-redes-sociales ion-icon {
    margin: 4rem 1rem 0 0;
    font-size: 2.3rem;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 6rem 5rem 7rem;
  }

  section.seccion-informacion {
    width: 100%;
    margin-bottom: 10rem;
  }

  section.seccion-informacion p {
    width: 45%;
    margin: 2rem auto 3rem;
  }

  section.seccion-informacion a.seccion-informacion-boton + img {
    max-width: 85%;
  }

  div.contenedor-informacion {
    display: flex;
    justify-content: space-evenly;
  }

  img.ancho-pc {
    display: block;
  }

  img.ancho-celular {
    display: none;
  }

  div.contenedor-seccion {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem 0;
  }

  div.contenedor-seccion img {
    width: 35%;
    margin: 0;
  }

  div.contenido-seccion {
    width: 33%;
    text-align: left;
  }

  section.seccion-boton {
    margin-bottom: 10rem;
  }

  div.contenedor-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7rem;
  }

  div.footer-contacto {
    width: 30%;
    margin-top: 0;
  }

  div.footer-subscripcion {
    width: 42%;
  }

  div.footer-subscripcion p {
    width: 75%;
  }

  div.footer-subscripcion div {
    width: 75%;
  }

  form {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }

  form input {
    display: block;
    width: 90%;
    height: 3rem;
  }

  form input:invalid {
    border: 2px solid var(--rojo-claro);
  }

  form button {
    width: 35%;
    height: 3rem;
    padding: 0;
  }
}
