@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@700&display=swap");

/* Rooteo variables */
:root {
  --primary-color: hsl(192, 100%, 9%);
  --section-color: hsl(207, 100%, 98%);
  --button-color: hsl(322, 100%, 66%);
  --button-hover-color: hsl(321, 100%, 78%);
  --invalid-form-color: hsl(0, 100%, 63%);

  --primary-font: "Open Sans", sans-serif;
  --subtitle-font: "Poppins", sans-serif;
}

/* Reseteo variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Variables utilitarias */
.desk-width {
  display: none;
}

.mobile-width {
  display: initial;
}

/* Variables generales */
body {
  background-color: white;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.1rem;
}

.logo {
  max-width: 30%;
}

.header-button {
  padding: 0.4rem 1.7rem;
  border: 1px solid var(--button-color);
  border-radius: 5rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--button-color);
  transition: all 0.8s;

  &:hover {
    border: 1px solid var(--button-hover-color);
    color: var(--button-hover-color);
    box-shadow: 0 0 0.3rem var(--button-hover-color);
  }
}

.section-info {
  width: 80%;
  margin: 8.4rem auto 1.4rem;
  text-align: center;
  color: var(--primary-color);
}

.title {
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 3.8rem;
}

.section-info > p {
  margin: 2.8rem 0 4.2rem;
}

.button-started {
  display: block;
  width: max-content;
  margin-bottom: 9.8rem;
  padding: 1.1rem 3.5rem;
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--button-color);
  color: white;
  box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
  transition: all 0.8s;

  &:hover {
    background-color: var(--button-hover-color);
  }
}

.button-started + img {
  width: 100%;
}

.stats-container {
  width: max-content;
  margin: 9.8rem auto 0;
}

.stats-container img {
  display: block;
  width: 2.8rem;
  margin-left: 1rem;
  text-align: left;
}

.stat-amount {
  margin: 2.7rem 0 3.2rem;
  font-size: 5.9rem;
  font-weight: 700;
}

.stat-name {
  margin: 0.8rem auto 0;
  font-weight: 600;
  opacity: 45%;
}

.section-separator,
.footer-separator {
  display: block;
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  background-color: var(--section-color);
  color: var(--primary-color);
}

.section-container img {
  width: 70%;
  margin: 4.2rem 0 9.8rem;
}

.section-content {
  width: 85%;
}

.section-content h2 {
  font-family: var(--subtitle-font);
  font-size: 2.1rem;
  font-weight: 700;
}

.section-content p {
  margin: 2.2rem 0 7rem;
}

.white-section {
  flex-direction: column;
  margin: 7rem 0;
  background-color: white;
}

section:last-child {
  margin-bottom: 21rem;
}

section:last-child h3 {
  width: 70%;
  margin: 9.8rem auto 4.2rem;
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
  line-height: 3.8rem;
  color: var(--primary-color);
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 4.2rem 9%;
  background-color: var(--primary-color);
  color: white;
}

.footer-contact {
  margin-top: 11.2rem;
}

.footer-info {
  margin: 2.2rem 0 4.2rem;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.footer-contact-item p {
  margin-left: 1.7rem;
  font-size: 1.3rem;
}

.social-container ion-icon {
  margin: 2.8rem 1.1rem 0 0;
  font-size: 2.5rem;
  color: white;
  transition: all 0.8s;

  &:hover {
    color: cyan;
  }
}

.footer-suscription h3 {
  font-size: 2.1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form div {
  width: 100%;
}

.input {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 24.39px;
  padding: 0 1rem;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;

  &:invalid {
    margin-bottom: 0;
    border: 1px solid var(--invalid-form-color);

    & + .invalid {
      display: initial;
    }
  }
}

.invalid {
  display: none;
  font-size: 1rem;
  color: var(--invalid-form-color);
}

.submit {
  height: 4.5rem;
  padding: 0 3.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--button-color);
  color: white;
  transition: all 0.8s;

  &:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
  }
}
